@use "constants";

%btn {
    border: none;
    font-family: inherit;
    color: inherit;
    font-weight: bold;
    outline: none;
    padding: 1rem;
    border-radius: 0.5rem;
    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

.btn-primary {
    @extend %btn;
    background: constants.$button-color;
}
